<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
	{{ partial "nav.html" . }}
	{{ partial "projectshead.html" . }}

	<section id="{{ .Type }}-single">
		<div class="container">
			<div class="row flexbox flexbox-center  project-frame">
				<div class="col-lg-8 align-center">
					{{ if not .Date.IsZero }}
						<h5 class="report">{{ .Date.Format "January 02, 2006" }}</h5>
					{{ end }}
					{{ .Content }}
				</div>
			</div>
		</div>
	</section>

	<section id="related-projects">
		<div class="container">
			<div class="row equal flexbox flexbox-center">
				<div class="col-lg-8 align-center">
					<h4>Related Projects</h4>
					{{ $related := .Site.RegularPages.Related . | first 2 }}
					<div class="row equal flexbox">
					{{ with $related }}
						{{ range . }}
						<div class="col-lg-6 news-item">
							<div class="card post-block">
							<div class="content">
								<a href="{{ .Permalink }}">
								<h4>{{ .Title }}</h4>
								</a>
								<p>{{ .Params.description }}</p>
							</div>
							</div>
						</div>
						{{ end }}
					{{ end }}
					</div>
				</div>
			</div>


			<div class="navigation">
			{{ .Scratch.Set "label" "view all projects" }}
			{{ .Scratch.Set "single" "true"}}
			{{ partial "pagenav.html" . }}
			</div>
		</div>
	</section>

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" . }}
	{{ end }}

	{{ partial "js.html" . }}
</body>

</html>
