<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
	{{ partial "nav.html" . }}
	<!-- {{ partial "herono.html" . }} -->

	<section id="{{ .Type }}">
		<div class="container">
      {{"<!-- section title -->" | safeHTML}}
      <div class="row">
        <div class="col-lg-12">
          <h3 class="section-heading">Former members</h3>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      <ul>
      {{ range (where .Site.RegularPages "Type" "team").GroupByDate "2006" }}
        {{ if (gt .Key 2016) }}
          <h2>{{ .Key }}</h2>
        {{ end }}
        {{ range .Pages }}
          {{ if (eq .Params.role "alumni") }}
          <li>
            <a href="{{ .Permalink }}" style="font-weight:normal">{{ .Params.name | markdownify }} ({{ .Params.status | markdownify }})
            </a>
          </li>
          {{ end }}
        {{ end }}
      {{ end }}
      </ul>
      
		</div>
  </section>
	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" . }}
	{{ end }}

	{{ partial "js.html" . }}
</body>

</html>
