<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
	{{ partial "nav.html" . }}
	{{ partial "herono.html" . }}

	<section id="{{ .Type }}">
		<div class="container">
			<div class="row flexbox flexbox-center">
				<div class="col-md-3 col">
					<div class="team-member">
						{{ $url := printf "team/images/%s" .Params.img }}
						<div class="row">
							<div class="col-sm-12 col ">
								<img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .Params.name }}">
								<h3>{{ .Params.name | markdownify }}</h3>
							</div>
						</div>
						{{ with .Params.position }}<h4>{{ . | markdownify }}</h4>{{ end }}

						{{ with .Params.status }}<h5 class="report">{{ . | markdownify }}</h5>{{ end }}

						{{ if .Params.googlescholar }}<a href="{{ .Params.googlescholar }}">{{end}}
							Google Scholar
						{{ if .Params.googlescholar }}</a>{{end}} |
						{{ if .Params.cv }}<a href="{{ .Params.cv }}">{{end}}
							Curriculum Vitae
						{{ if .Params.cv }}</a>{{end}}

						<ul class="list-inline social-buttons">
							{{ range .Params.social }}
							<li>
								<a {{ if ne (index . 1) "#" }}href="{{ index . 1 }}"{{ end }}>
									<i class="fab {{ index . 0 }}"></i>
								</a>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>
				<div class="col-md-7 col">
					{{ if .Params.interests }}
						<h2>Research Interests</h2>
						{{ with .Params.interests }}<p>{{ . | markdownify }}</p>{{ end }}
					{{ end }}
					{{ if .Params.bio }}
						<h2>Biography</h2>
						{{ with .Params.bio }}<p>{{ . | markdownify }}</p>{{ end }}
					{{ end }}
					{{ if .Params.highlights }}
						<h2>Highlights</h2>
						{{ with .Params.highlights }}<p>{{ . | markdownify }}</p>{{ end }}
					{{ end }}
				</div>

			</div>
		</div>
	</section>

	{{ if .Site.Params.contact.enable }}
		{{ partial "contact.html" . }}
	{{ end }}

	{{ if .Site.Params.footer.enable }}
		{{ partial "footer.html" . }}
	{{ end }}

	{{ partial "js.html" . }}
</body>
