<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
	{{ partial "nav.html" . }}
	{{ partial "herono.html" . }}

	<section id="{{ .Type }}">
		<div class="container">
			<div class="row flexbox flexbox-center team-profile">
				<div class="col-md-3 col">
					<div class="team-member">
						{{ $url := printf "team/images/%s" .Params.img }}
						<div class="row">
							<div class="col-sm-12 col ">
								<img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .Params.name }}">
								<h3>{{ .Params.name | markdownify }}</h3>
							</div>
						</div>
						{{ with .Params.position }}<h4>{{ . | markdownify }}</h4>{{ end }}

						{{ with .Params.status }}<h5 class="report">{{ . | markdownify }}</h5>{{ end }}

						{{ if .Params.googlescholar }}<a href="{{ .Params.googlescholar }}">{{end}}
							Google Scholar
							{{ if .Params.googlescholar }}</a>{{end}} |
						{{ if .Params.cv }}<a href="{{ .Params.cv }}">{{end}}
							Curriculum Vitae
							{{ if .Params.cv }}</a>{{end}} |
						{{ if .Params.website }}<a href="{{ .Params.website }}">{{end}}
							Website
							{{ if .Params.website }}</a>{{end}}

						{{ if .Params.social }}
						<ul class="list-inline social-buttons">
							{{ range .Params.social }}
								{{ if .github }}<li><a href="{{ .github }}"><i class="fab fa-github"></i></a></li>{{ end }}
								{{ if .linkedin }}<li><a href="{{ .linkedin }}"><i class="fab fa-linkedin"></i></a></li>{{ end }}
								{{ if .twitter }}<li><a href="{{ .twitter }}"><i class="fab fa-twitter"></i></a></li>{{ end }}
								<!-- add more social media links here -->
							{{ end }}
						</ul>
						{{ end }}
					</div>
				</div>
				<div class="col-md-7 col">
					{{ if .Params.bio }}
					<h2>Biography</h2>
					{{ with .Params.bio }}<p>{{ . | markdownify }}</p>{{ end }}
					{{ end }}
					{{ if .Params.interest }}
					<h2>Research Interests</h2>
					<ul>
						{{ range .Params.interest }}
						<li><p>{{ . | markdownify }}</p></li>
						{{ end }}
					</ul>
					{{ end }}
					{{ if .Params.highlights }}
					<h2>Research Highlights</h2>
					<ul>
						{{ range .Params.highlights }}
						<li><p>{{ . | markdownify }}</p></li>
						{{ end }}
					</ul>
					{{ end }}
					{{ if .Params.media }}
					<h2>In the media</h2>
					<ul>
						{{ range .Params.media }}
						<li><p>{{ . | markdownify }}</p></li>
						{{ end }}
					</ul>
					{{ end }}
				</div>

			</div>

			<!-- {{ .Scratch.Set "label" "team" }}
			{{ partial "pagenav.html" . }} -->
		</div>
	</section>

	{{ if .Site.Params.contact.enable }}
	{{ partial "contact.html" . }}
	{{ end }}

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" . }}
	{{ end }}

	{{ partial "js.html" . }}
</body>
