{{ $contact := .Site.Params.contact }}
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
  {{ partial "nav.html" . }}
  <!-- {{ partial "hero.html" . }} -->
  {{ partial "herono.html" . }}

  <section id="contact">
    <div class="container">

      <div class="row address-bar">
        <div class="col-sm-6 text-left">
          {{ with $contact.address }}
          <h5 class="section-heading text-muted-partial">{{ $contact.addressTitle | markdownify }}</h5>
          <p class="text-muted-partial">{{ . | markdownify }}</p>
          {{ end }}
          {{ with $contact.phoneNumber }}
          <p class="text-muted-partial"><i class="fas fa-phone img-icon-contact"></i>{{ . | markdownify }}</p>
          {{ end }}
          {{ with $contact.email }}
          <p class="text-muted-partial"><i class="fas fa-envelope img-icon-contact"></i>{{ . | markdownify }}</p>
          {{ end }}
          {{ with $contact.twitter }}
          <p class="text-muted-partial">
            <a href={{ $contact.twitter_url }} class="text-muted-partial"><i
                class="fab fa-twitter img-icon-contact"></i>{{ . | markdownify }}</a>
          </p>
          {{ end }}
        </div>
        <div class="col-sm-6">
          <div class="google-maps">
            <iframe src={{ $contact.mapurl }} width="" height="" frameborder="1" style="border:0"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ partial "footer.html" . }}

  {{ partial "js.html" . }}
</body>

</html>
