<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
    {{ partial "nav.html" . }}
    {{ partial "herono.html" . }}

	<section id="{{ .Type }}">
		<div class="container">
            {{"<!-- section title -->" | safeHTML}}
            <div class="row">
                <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.news.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.news.subtitle }}{{ . | markdownify }}{{ end }}</h3>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range (where .Data.Pages "Type" "news").GroupByDate "2006" }}
            <div class="row flexbox flexbox-center">
                <div class="col-md-8">
                    <h2>{{ .Key }}</h2>
                    <hr/>
                </div>
                {{ range .Pages }}
                {{"<!-- single news post -->" | safeHTML}}
                <div class="col-md-8 news-item">
                    <div class="news-content">
                        <h4><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h4>
                        <p class="text-muted">{{ if isset .Params "description" }}{{ .Params.description | markdownify }}{{ else }}{{ .Summary | markdownify }}{{ end }}
                        </p>
                    </div>
                    <hr/>
                </div>
                {{"<!-- /single news post -->" | safeHTML}}
                {{ end }}
            </div>

            {{ end }}

            {{"<!-- section nav button -->" | safeHTML}}
            <div class="row btn-navigate">
                <div class="text-center">
                    <a class="btn btn-primary" href="/">Home</a>
                </div>
            </div>
            {{"<!-- /section nav button -->" | safeHTML}}
		</div>
	</section>

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" . }}
	{{ end }}

	{{ partial "js.html" . }}
</body>

</html>
