<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
	{{ partial "nav.html" . }}
	{{ partial "herono.html" . }}

	<section id="{{ .Type }}">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 align-center" id="{{ .Type }}">
					<h2>{{ .Title | markdownify }}</h2>
					<h5 class="report">{{ .Date.Format "January 02, 2006" }}</h5>
					{{ .Content }}
				</div>
			</div>

      <div class="row flexbox flexbox-center">
				<div class="col-sm-8">
					<div class="row flexbox flexbox-space-between">
						<div class="col-md-4 text-left">
							{{ if .PrevInSection }}
								<a class="btn btn-primary" href="{{ .PrevInSection.Permalink }}">Previous</a>
							{{ end }}
						</div>
						<div class="col-md-4  text-center">
								<a class="btn btn-primary" href="/news">View all news</a>
						</div>
						<div class="col-md-4 text-right">
							{{ if .NextInSection }}
								<a class="btn btn-primary" href="{{ .NextInSection.Permalink }}">Next</a>
							{{ end }}
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" . }}
	{{ end }}

	{{ partial "js.html" . }}
</body>

</html>
