<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="index">
	{{ partial "nav.html" . }}
	{{ partial "herono.html" . }}

	<section id="{{ .Type }}">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 align-center" id="{{ .Type }}">
					<h2>{{ .Title | markdownify }}</h2>
					<h5 class="report">{{ .Date.Format "January 02, 2006" }}</h5>
					{{ .Content }}
				</div>
			</div>
			{{ .Scratch.Set "label" "view all news" }}
			{{ partial "pagenav.html" . }}
		</div>
	</section>

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" . }}
	{{ end }}

	{{ partial "js.html" . }}
</body>

</html>
