{{ "<!-- Publication Modals -->" | safeHTML }}
{{ range where .Data.Pages "Type" "publications" }}
{{ if .Params.featured }}
  <div class="publication-modal modal fade" id="{{ .File.BaseFileName }}" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container modal-container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="modal-body">
              <h2>{{ .Title  | markdownify }}</h2>
              <p class="item-intro text-muted">{{ .Params.subtitle | markdownify }}</p>
              {{ $url := printf "img/publications/%s" .Params.img }}
              <img class="img-responsive img-centered" src="{{ $url | absURL }}" alt="">
              <p>{{ .Params.description | markdownify }}</p>
              <ul class="list-inline">
                <li>{{ with $.Site.Params.publication.modal.date }}{{ . }}{{ end }}: {{ .Date.Format "2006-01-02" }}</li>
                <li>{{ with $.Site.Params.publication.modal.client }}{{ . | markdownify }}{{ end }}: <a href="{{ .Params.clientLink }}">{{ .Params.client }}</a></li>
                <li>{{ with $.Site.Params.publication.modal.category }}{{ . }}{{ end }}: {{ .Params.category  | markdownify }}</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.publication.modal.buttonText }}{{ . }}{{ end }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
{{ end }}
