{{ "<!-- Projects -->" | safeHTML }}
<section id="projects">
  <div class="container">
    {{ if .IsHome }}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.projects.title }}{{ . }}{{ end }}
        </h2>
        <h3 class="section-subheading text-muted">
          {{ with .Site.Params.projects.subtitle }}{{ . | markdownify }}{{ end }}
        </h3>
      </div>
    </div>
    {{ end }}
    {{ $homeflag := .IsHome }}
    <div class="row flexbox flexbox-center">
      {{ range (where .Site.Pages "Type" "projects") }}
        <!-- {{ if or (and (.Params.featured) ($homeflag)) (eq $homeflag false) }} -->
        <div class="col-md-4 post-frame text-center">
          <!-- <a href="{{ .Permalink }}"> -->
          <a>
            {{ if .Params.icon }}
            <div class="fa-stack fa-4x text-primary">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ .Params.icon }} fa-stack-1x fa-inverse"></i>
            </div>
            {{ end }}
            <h3 class="project-heading">{{ .Title | markdownify }}</h3>
          </a>
          <p class="text-muted">{{ .Params.description | markdownify }}</p>
        </div>
        <!-- {{ end }} -->
      {{ end }}
    </div>

    {{ if .IsHome }}
    <div class="row btn-navigate">
      <div class="text-center">
        <a class="btn btn-primary" href="projects">All Projects</a>
      </div>
    </div>
    {{ end }}

  </div>
</section>
