{{ "<!-- Team Section -->" | safeHTML }}
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center animatable fadeIn">
        <h2 class="section-heading">{{ with .Site.Params.team.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.team.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row flexbox">
      {{ range where .Data.Pages "Type" "team" }}
        {{ if eq .Params.role "professor" }}
        <div class="col-sm-3 col animatable fadeIn ">
          <div class="team-member">
            {{ $url := printf "team/images/%s" .Params.img }}
            <div class="row">
            <div class="col-sm-12 col">
              <a href="{{ .Permalink }}">
                <img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .Params.name }}">
                <h3>{{ .Params.name | markdownify }}</h3>
              </a>
            </div>
            </div>
            {{ with .Params.position }}<h4>{{ . | markdownify }}</h4>{{ end }}

            {{ with .Params.status }}<h5 class="report">{{ . | markdownify }}</h5>{{ end }}

            {{ if .Site.Params.team.links }}
            {{ if .Params.googlescholar }}<a href="{{ .Params.googlescholar }}">{{end}}
              Google Scholar
            {{ if .Params.googlescholar }}</a>{{end}} |
            {{ if .Params.cv }}<a href="{{ .Params.cv }}">{{end}}
              Curriculum Vitae
            {{ if .Params.cv }}</a>{{end}}

            <ul class="list-inline social-buttons">
              {{ range .Params.social }}<li><a href="{{ index . 1 }}"><i class="fab {{ index . 0 }}"></i></a></li>{{ end }}
            </ul>
            {{ end }}
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
    <!-- <h2 class="section-heading">Postdoc</h2> -->
    <div class="row flexbox">
        {{ range where .Data.Pages "Type" "team" }}
          {{ if eq .Params.role "postdoc" }}
          <div class="col-sm-3 col animatable fadeIn ">
              <div class="team-member">
                {{ $url := printf "team/images/%s" .Params.img }}
                <div class="row">
                <div class="col-sm-12 col">
                  <a href="{{ .Permalink }}">
                    <img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .Params.name }}">
                    <h3>{{ .Params.name | markdownify }}</h3>
                  </a>
                </div>
                </div>


                {{ with .Params.position }}<h4>{{ . | markdownify }}</h4>{{ end }}

                {{ with .Params.status }}<h5 class="report">{{ . | markdownify }}</h5>{{ end }}

                {{ if .Site.Params.team.links }}
                {{ if .Params.googlescholar }}<a href="{{ .Params.googlescholar }}">{{end}}
                  Google Scholar
                {{ if .Params.googlescholar }}</a>{{end}} |
                {{ if .Params.cv }}<a href="{{ .Params.cv }}">{{end}}
                  Curriculum Vitae
                {{ if .Params.cv }}</a>{{end}}

                <ul class="list-inline social-buttons">
                  {{ range .Params.social }}<li><a href="{{ index . 1 }}"><i class="fab {{ index . 0 }}"></i></a></li>{{ end }}
                </ul>
                {{ end }}
              </div>
          </div>
          {{ end }}
        {{ end }}
      </div>

    <!-- <h2 class="section-heading">PhD Students</h2> -->
    <div class="row flexbox">
      {{ range where .Data.Pages "Type" "team" }}
        {{ if eq .Params.role "phd" }}
        <div class="col-sm-3 col animatable fadeIn ">
            <div class="team-member">
              {{ $url := printf "team/images/%s" .Params.img }}
              <div class="row">
              <div class="col-sm-12 col">
                <a href="{{ .Permalink }}">
                  <img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .Params.name }}">
                  <h3>{{ .Params.name | markdownify }}</h3>
                </a>
              </div>
              </div>


              {{ with .Params.position }}<h4>{{ . | markdownify }}</h4>{{ end }}

              {{ with .Params.status }}<h5 class="report">{{ . | markdownify }}</h5>{{ end }}

              {{ if .Site.Params.team.links }}
              {{ if .Params.googlescholar }}<a href="{{ .Params.googlescholar }}">{{end}}
                Google Scholar
              {{ if .Params.googlescholar }}</a>{{end}} |
              {{ if .Params.cv }}<a href="{{ .Params.cv }}">{{end}}
                Curriculum Vitae
              {{ if .Params.cv }}</a>{{end}}

              <ul class="list-inline social-buttons">
                {{ range .Params.social }}<li><a href="{{ index . 1 }}"><i class="fab {{ index . 0 }}"></i></a></li>{{ end }}
              </ul>
              {{ end }}
            </div>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <!-- <h2 class="section-heading">MSc Students</h2> -->
    <div class="row flexbox">
      {{ range where .Data.Pages "Type" "team" }}
        {{ if eq .Params.role "masc" }}
        <div class="col-sm-3 col animatable fadeIn ">
            <div class="team-member">
              {{ $url := printf "team/images/%s" .Params.img }}
              <div class="row">
              <div class="col-sm-12 col">
                <a href="{{ .Permalink }}">
                  <img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .Params.name }}">
                  <h3>{{ .Params.name | markdownify }}</h3>
                </a>
              </div>
              </div>


              {{ with .Params.position }}<h4>{{ . | markdownify }}</h4>{{ end }}

              {{ with .Params.status }}<h5 class="report">{{ . | markdownify }}</h5>{{ end }}

              {{ if .Site.Params.team.links }}
              {{ if .Params.googlescholar }}<a href="{{ .Params.googlescholar }}">{{end}}
                Google Scholar
              {{ if .Params.googlescholar }}</a>{{end}} |
              {{ if .Params.cv }}<a href="{{ .Params.cv }}">{{end}}
                Curriculum Vitae
              {{ if .Params.cv }}</a>{{end}}

              <ul class="list-inline social-buttons">
                {{ range .Params.social }}<li><a href="{{ index . 1 }}"><i class="fab {{ index . 0 }}"></i></a></li>{{ end }}
              </ul>
              {{ end }}
            </div>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <!-- <h2 class="section-heading">Others</h2> -->
    <div class="row flexbox">
      {{ range where .Data.Pages "Type" "team" }}
        {{ if eq .Params.role "other" }}
        <div class="col-sm-3 col animatable fadeIn ">
            <div class="team-member">
              {{ $url := printf "team/images/%s" .Params.img }}
              <div class="row">
              <div class="col-sm-12 col">
                <a href="{{ .Permalink }}">
                  <img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .Params.name }}">
                  <h3>{{ .Params.name | markdownify }}</h3>
                </a>
              </div>
              </div>


              {{ with .Params.position }}<h4>{{ . | markdownify }}</h4>{{ end }}

              {{ with .Params.status }}<h5 class="report">{{ . | markdownify }}</h5>{{ end }}

              {{ if .Site.Params.team.links }}
              {{ if .Params.googlescholar }}<a href="{{ .Params.googlescholar }}">{{end}}
                Google Scholar
              {{ if .Params.googlescholar }}</a>{{end}} |
              {{ if .Params.cv }}<a href="{{ .Params.cv }}">{{end}}
                Curriculum Vitae
              {{ if .Params.cv }}</a>{{end}}

              <ul class="list-inline social-buttons">
                {{ range .Params.social }}<li><a href="{{ index . 1 }}"><i class="fab {{ index . 0 }}"></i></a></li>{{ end }}
              </ul>
              {{ end }}
            </div>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted animatable fadeInUp">{{ with .Site.Params.team.description }}{{ . | markdownify }}{{ end }}</p>
      </div>
    </div>
  </div>
</section>
